@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
    .icon{
        width: 70px;
        height: 70px;
        background-color: rgb(156, 0, 156);
        border-radius: 50%;
        text-align: center;
        line-height: 65px;
        color: white;
    }
    input{
        padding: 15px 15px 15px 10px;
        border-radius: 5px;
        border: 3px solid black;
        box-shadow: 5px 10px 4px black;
    }
    .box{
        border: 3px solid black;
        width: 370px;
        border-radius: 4px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: blueviolet;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
body{
    background-image: url(../assets/images/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}